body{

font-family: Arial, sans-serif;
margin:0;
background:#0B0F1A;
color:#E5E7EB;

}


.navbar{

display:flex;
justify-content:space-between;
padding:20px 40px;
background:#111827;
position:sticky;
top:0;

}


.nav-links{

display:flex;
list-style:none;

}

.nav-links li{

margin-left:20px;

}

.nav-links a{

text-decoration:none;
color:white;
transition:0.3s;

}

.nav-links a:hover{

color:#3B82F6;

}



.hero{

height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;

}



.main-btn{

padding:12px 25px;
border:none;
background:#3B82F6;
color:white;
font-size:16px;
cursor:pointer;
border-radius:6px;
transition:0.3s;

}

.main-btn:hover{

transform:scale(1.1);
background:#2563EB;

}



.section{

padding:80px 15%;

}



.card-container{

display:flex;
flex-wrap:wrap;
gap:20px;

}



.card{

background:#1F2937;
padding:25px;
border-radius:10px;
transition:0.3s;
cursor:pointer;

}



.card:hover{

transform:translateY(-8px);
box-shadow:0 10px 25px rgba(0,0,0,0.4);

}
